COMPOSE_PROJECT_NAME=
MAGENTO_ROOT=
DOCKER_PHP_IMAGE=magento2_php_xdebug

##### MYSQL
MYSQL_ALLOW_EMPTY_PASSWORD=1
MYSQL_ROOT_PASSWORD=magento
MYSQL_USER=magento
MYSQL_PASSWORD=magento
MYSQL_DATABASE=magento

##### PHPMYADMIN
PMA_HOST=mysql
PMA_USER=root
PMA_PASSWORD=magento
MYSQL_ROOT_PASSWORD=magento

##### PHP
PHP_IDE_CONFIG=serverName=
XDEBUG_CONFIG=remote_host= idekey=PHPSTORM remote_port=9001 remote_enable=1 remote_connect_back=0
