COMPOSE_PROJECT_NAME=
MAGENTO_ROOT=
PHP_VERSION=

##### MYSQL
MYSQL_ALLOW_EMPTY_PASSWORD=1
MYSQL_ROOT_PASSWORD=magento
MYSQL_USER=magento
MYSQL_PASSWORD=magento
MYSQL_DATABASE=magento

##### PHPMYADMIN
PMA_HOST=mysql
PMA_USER=root
PMA_PASSWORD=magento
MYSQL_ROOT_PASSWORD=magento

##### PHP