COMPOSE_PROJECT_NAME=magentodev
MAGENTO_ROOT=src
PHP_VERSION=7.1

##### MYSQL
MYSQL_ALLOW_EMPTY_PASSWORD=1
MYSQL_ROOT_PASSWORD=magento
MYSQL_USER=magento
MYSQL_PASSWORD=magento
MYSQL_DATABASE=magento

##### PHPMYADMIN
PMA_HOST=mysql
PMA_USER=root
PMA_PASSWORD=magento
MYSQL_ROOT_PASSWORD=magento

##### PHP