COMPOSE_PROJECT_NAME=
MAGENTO_ROOT=
PHP_VERSION=
## Magento version 1 or 2
MAGENTO_VERSION=
## Chose magento_php or magento_php_xdebug
DOCKER_PHP_IMAGE=magento_php

##### MYSQL
MYSQL_ALLOW_EMPTY_PASSWORD=1
MYSQL_ROOT_PASSWORD=magento
MYSQL_USER=magento
MYSQL_PASSWORD=magento
MYSQL_DATABASE=magento
MYSQL_PORT=3306

##### PHPMYADMIN
PMA_HOST=mysql
PMA_USER=root
PMA_PASSWORD=magento
MYSQL_ROOT_PASSWORD=magento

##### PHP
